html {
  background-color: #94c8d6;
  color: #595959;
  font-family: verdana;
}
nav {
  background-color: #012e33;
  height: 41px;
}
h1#me a {
  text-align: center;
  color: white;
  text-decoration: none;
}
h1#me a:hover {
 color: #960f16; 
}
ul#bar {
    list-style-type: none;
    overflow:hidden;
    width: 800px;
    margin: auto;
} 

ul#bar li {
    
    float:left;
    margin-left: 95px;
    position: relative;
}

ul#bar a {
  	
    display: block;
    padding: 11px 40px;
    color: white;
    text-decoration: none;
    text-align: center;  
}

ul#bar li a:hover {
    background-color:#d64d55;
}
ul#thoughts li {
  padding: 40;
  border: 50;
  margin: 200;
}
ul#thoughts {
  list-style: square inside;
  margin: auto;
  text-align: center;
}
div.introduction, p.introduction {
  margin: 0px 50px 30px 50px;
  display: block;
}
.blogthing {
  margin: 0px 50px 30px 50px;
}
ul.StuffDropDown {
  position: absolute;
  display: none;
  top: 100%;
  width: 100%;
  margin: 0;
  list-style-type: none;
}
ul.StuffDropDown li {
  background-color: purple; 
  color: white;
  padding: 5px;
  text-decoration: none;
  display: block;
  width: 100%;
}
ul.StuffDropDown li:hover {
  background-color: grey;
}
li.stuffbar:hover ul.StuffDropDown {
  display: block; 
}
  
