html {
  background-color: #94c8d6;
  color: #595959;
  font-family: verdana;
}
ul#bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #012e33;
}

li#bar {
    display: inline;
}

li#bar a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li#bar a:hover {
    background-color: #35838d;
}
ul#thoughts li {
  padding: 400;
  border: 500;
  margin: 1000;
}

