html {
  background-color: #94c8d6;
  color: #595959;
  font-family: verdana;
}
ul#bar {
  list-style-type: none;
  padding: 30;
  margin: 30;
  overflow: hidden;
  background-color: #555555;
  color: #AAAAAA
}
ul#bar li  {
  float:left;
  display: block;
  text-align: none;
  padding-left: 120;
  margin: 40;
  text-decoration: none;
}
ul#thoughts li {
  padding: 400;
  border: 300;
  margin: 100;
}

